---
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 8
TabWidth: 8
UseTab: Never
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Right
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
SpaceBeforeParens: ControlStatements